body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    /* position: relative; */
    height: 100%;
    width: 100%;
    background-color: black;
}

.carousel-track {
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: transform 0.01s ease-in-out;
    white-space: nowrap;
}

.carousel-item {
    flex: 0 0 100%;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.carousel-item img, video{
    object-fit: contain;
    width: 100%;
    height: 100%;
}