body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    /* position: relative; */
    height: 100%;
    width: 100%;
    background-color: black;
}

.carousel-track {
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: transform 1s ease-in-out;
    white-space: nowrap;
    /* Prevent wrapping of segments */
}

.carousel-item {
    flex: 0 0 100%;
    /* Use flex-basis to ensure each segment takes full width */
    height: 100%;
    display: inline-block;
    /* Display items in a row */
    vertical-align: top;
    /* Align items to the top */
    width: 100%;
    height: 100%;
}

/* fix css */
.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}